.main__presantation {
    display: flex;
    flex-direction: row;
    margin: 0 4vw;
}

.main__important, .main__products {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__products {
    align-items: center;
    justify-content: space-between;
}

.important__tittle {
    font-size: 5rem;
    margin-bottom: 0;
}

.second__trending {
    text-align: center;
    color: red;
}

.important__text {
    font-size: 2rem;
}

.order__button {
    text-decoration: none;
    width: 10rem;
    text-align: center;
    background-color: red;
    color: white;
    padding: 0.75vh 2vw;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 2rem;
}

.container__badge {
    text-align: center;
}

.fast__badge {
    width: 25vw;
}

.red__word {
    color: red;
}

.category__presantation {
    margin: 2vh 0;
    padding: 5vh 4vw;
    background-color: red;
    color: white;
}

.category__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    cursor: pointer;
    justify-content: left;
}

.item__list {
    margin: 1rem 1rem;
    padding: 1rem 2rem;
    background-color: white;
    color: red;
    border-radius: 1rem;
}

.trending {
    justify-content: center;
}

@media screen and (max-width:1280px) {
    .important__tittle {
        font-size: 3rem;
    }

    .important__text {
        font-size: 1rem;
    }

    .order__button {
        font-size: 0.75rem;
    }
}

@media screen and (max-width:720px) {
    .main__presantation {
        flex-direction: column;
        align-items: center;
    }

    .main__important, .main__products {
        width: 100%;
    }
}