.containers__best {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}

.container__best {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    background-color: #ff0000;
    width: 15vw;
    padding: 2vh 0;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin: 1rem;
}

.image__best {
    width: 10vw;
    border-radius: 50%;
}

.data__best {
    text-align: center;
    margin: 0;
    padding: 1vh 0;

}

.category {
    opacity: 0.5;
    font-size: 0.8rem;
}

@media screen and (max-width:1280px) {



}