.containers__best {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}

.container__best {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    background-color: #ff0000;
    width: 15vw;
    padding: 2vh 0;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin: 1rem;
}

.image__best {
    width: 10vw;
    border-radius: 50%;
}

.data__best {
    text-align: center;
    margin: 0;
    padding: 1vh 0;

}

.slider {
    text-align: center;
}

.input__slide {
    display: none;
}

@media screen and (max-width:1280px) {
    .container__best {
        font-size: 0.7rem;
        width: 20vw;
    }

    .image__best {
        width: 10vw;
    }

}

@media screen and (max-width:720px) {
    .containers__best {
        display: flex;
    }

    .container__best {
        display: none;
    }

    .container__ativado {
        display: flex;
        width: 50vw;
    }

    .image__best {
        width: 20vw;
    }

    .slider {
        margin: 3vh 0;
    }

    .input__slide {
        display: initial;
        appearance: none;
        background: #ff00005e;
        padding: 0.01rem 0.5rem;
        margin: 0 3vw;
        outline: 0.25rem solid red;
        border: 0.25rem solid white;
        border-radius: 100%;  
    }

    .input__slide:checked {
        background: red;
    }
}